  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 20;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000f7;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
    font-style: italic;
  }
  
  .dropdown:hover 
  .dropdown-content {
    display: block;
  }